

<table>
  <tr>
    <th>Transaction Type</th>
    <th>Merchant</th>
    <th>Amount</th>
  </tr>

    <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.tag()%></td>
    <td><%= transaction.merchant()%></td>
    <td><%= transaction.amount%></td>
  </tr>
    <%end%>

  <tr>
    <td>Total Spend</td>
    <td></td>
    <td><%= @total%> </td>
  </tr>
</table>
