


  <p>Total Spend:<span><%= @total%></span></p>


  <br>
  <br>

  <table>
    <tr>
      <th>Type</th>
      <th>Total Spend</th>
    </tr>
    <% @tags.each do |tag|%>
    <tr>
    <td><%=tag.tag_name()%></td>
    <td><%=tag.total()%></td>
    </tr>
    <%end%>

  </table>
