body {
  background-color: rgb(233, 229, 237);
  font-family: sans-serif;
  width: 1000px;

  }

table.totals {
  margin: 0;
  size: 3em;
  font-size: 1.5em;
}

table.all {

  width: 100%;
  overflow-y: scroll;
  border: solid rgb(205, 213, 218) 3px;
  border-radius: 5px;
}

th {
  text-align: left;
  padding: 5px;
  background-color: rgb(128, 219, 203);
  color: white;
}

td {
  padding: 5px;
}

tr:nth-child(even) {background: #f2f2f2}
tr:nth-child(odd) {background: #FFF;}

tr:hover {background-color: rgb(205, 213, 218)}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* font-family: monospace; */
}

label {
  padding-top: 8px;
  font-size: 0.7em;
  font-weight: bold;
}

input, select{
  width: 15%;
  height: 2em;
  margin-bottom: 1em;
  border-radius: 7px;
  margin: 3px;

}

input[type=submit] {
  background-color: rgb(250, 200, 116);
  color: white;
  cursor: pointer;
}

input:hover[type=submit] {
  background-color: rgb(177, 165, 138);
}

div.total {
  background-color: rgb(122, 148, 146);
  color: white;
  width: 15em;
  height: 6em;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  float: right;
  margin: 1em;
  font-size: 1.5em;
  }


p.total {
  width: 0.1em
  text-position: center;
  font-size: 1.3em;
  text-align: center;
}

header {
  /* width: 100%; */
  height: 4em;
  margin: 0;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 5em;
  background-image: url(1225_piggy-bank-1000x600.jpg);

  opacity: 0.25;
  background-size: cover;
  background-repeat: no-repeat;


}

h1 {
  margin-top: 0;
}
