body {
  background-color: rgb(233, 229, 237);
  font-family: sans-serif;
  width: 95%;
  height: 100%;
  position: absolute;
  left: 2.5%;

  }

table.totals {
  display: inline-block;
  margin: 0;
  size: 3em;
  font-size: 1.5em;
  width: 100%;
  overflow-y: scroll;
  border-collapse: collapse;
  border-radius: 5px;
}

table.all {

  width: 100%;
  overflow-y: scroll;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  text-align: left;
  padding: 5px;
  background-color: rgb(122, 148, 146);
  color: white;
}

tfoot {
  text-align: left;
  padding: 5px;
  background-color: rgb(122, 148, 146);
  color: white;
  height: 50em;
}

 th.type {
  width: 20%;
}

th.merchant {
  width: 32%;
}

th.amount {
  width: 15%;
}

th.date {
  width: 15%;
}

td {
  text-transform: capitalize;
}

tbody.tr:nth-child(even) {background: #f2f2f2}
tbody.tr:nth-child(odd) {background: #FFF;}

tr:hover {background-color: rgb(205, 213, 218)}

form.new {
  width: 100%;
  height: 3em;
  background-color: rgb(186, 230, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.input {
  margin: 10em;
}

form.button {
  width: fit-content;
  margin-left: 0.75em;
}

label {
  margin-left: 1.5em;
  padding-top: 8px;
  font-size: 0.7em;
  font-weight: bold;
}

input, select{
  width: 15%;
  height: 2em;
  margin-bottom: 1em;
  border-radius: 7px;
  margin: 3px;

}


input[type=submit] {
  background-color: rgb(249, 185, 77);
  color: white;
  /* font-family: fontawesome; */
  cursor: pointer;
  width: fit-content;
  border-color: rgb(247, 236, 198) rgb(240, 222, 176) rgb(246, 172, 47);
}

input:hover[type=submit] {
  background-color: rgb(177, 165, 138);
}

input.delete:hover[type=submit] {
  background-color: rgb(251, 70, 38);
}


div.totals {
  display: flex;
  justify-content: space-between;
}

div.total {
  color: white;
  width: 32%;
  height: 18em;
  border-radius: 10px;
  text-align: center;
  margin-top: 1em;
  padding-top: 3em;
  }

.red {
  background-color: rgb(208, 70, 82);
}
.green{
  background-color: rgb(122, 148, 146);
}

p.total-text {
  width: 0.1em
  align: center;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

p.total {
  width: 0.1em
  align: center;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

p.budget-text {
  width: 0.1em
  text-position: center;
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
}

p.budget {
  width: 0.1em
  text-position: center;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a.button {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(249, 185, 77);
  border-radius: 5px;
  width: 15em;
  height: 2em;
  text-align: center;
  line-height: 200%;
  color: white;
  border-color: rgb(247, 236, 198) rgb(240, 222, 176) rgb(246, 172, 47);
  border-style: solid;
  border-width: 1px;
}

.edit {
  width: fit-content;
  display: inline-block;
  text-decoration: none;
  background-color: rgb(249, 185, 77);
  border-radius: 5px;
  text-align: center;
  line-height: 100%;
  color: white;
  border-color: rgb(247, 236, 198) rgb(240, 222, 176) rgb(246, 172, 47);
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  padding: 4px 9px;
}

.edit:hover {
  background-color: rgb(240, 222, 176);
}

a.button:hover {
  background-color: rgb(240, 222, 176);
}


header {
  height: max-content;
  margin: 0;
  background-image: url(1225_piggy-bank-1000x600.jpg);
  /* opacity: 0.25; */
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  display: inline-block;
}

ul {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin-top: 0;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 8em;
  color: white;
  /* font-family: AvantGarde; */
}
